@charset "utf-8";


* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}
body {
    height: 100%;
}
ul, ol, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.d-container {
    display: flex;
    flex-direction: column;

    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.d-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 730px;
    max-width: 850px;
    min-width: 500px;

    /*width: 100%;*/
}

.d-header ul li {
    /*float: left;*/
    /*
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1px solid #999;
    */
}

.d-header ul li:last-child {
    border-right: none;
}

.d-header .d-walking-title{
    font-weight: bold;
}

/*似乎并不需要 flex 这一行*/
.d-content {

    /*flex: 1 0 auto;*/

    /*clear: both;*/
    /*height: 200%;*/
    /*height: 2000px;*/
}

.d-footer {
    flex-shrink: 0;
    margin-top: auto;
}
